@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 26px;
  line-height: 33px;
  font-weight: 700;
  text-align: center;

  color: #252a34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
